<template>
  <div>
    <button class="pm-menu-bubble__button"
            :name="item.name"
            :title="item.name"
            v-for="(item, i) in items"
            @click="dispatchCommand(item)"
            @blur="$emit('blur-button')"
            :key="i">
      <strong>{{ item.icon }}</strong>
    </button>
  </div>
</template>

<script>
import { bubbleCommands } from './menu-bubble-commands.js'

export default {
  name: 'menu-bubble-buttons',
  props: ['view'],
  data () {
    return {
      items: bubbleCommands
    }
  },
  methods: {
    dispatchCommand ({ command, type }) {
      this.view.focus()
      command(this.view.state, this.view.dispatch, this.view)
    }
  }
}
</script>

<style scoped>
</style>
