<template>
  <div class="pm-menu-bubble"
       :style="style"
       v-if="view">
    <menu-bubble-buttons
      :view="view"
      @blur-button="blurButton" />
  </div>
</template>

<script>
import menuBubbleButtons from './menu-bubble-buttons'

export default {
  name: 'menu-bubble',
  props: ['active', 'box', 'view'],
  components: { menuBubbleButtons },

  data () {
    return {
      count: 0,
      lastStyle: 'display: none',
      style: 'display: none'
    }
  },

  computed: {
    end () {
      return this.hasView
        ? this.view.coordsAtPos(this.view.state.selection.to)
        : undefined
    },
    hasSelection () {
      return this.start && (this.start.left !== this.end.left ||
        this.start.right !== this.end.right)
    },
    hasView () {
      return (this.active &&
        this.view &&
        this.view.focused &&
        this.view.state &&
        this.view.state.selection)
    },
    left () {
      return Math.max(
        (this.start.left + this.end.left) / 2,
        this.start.left + 3)
    },
    start () {
      return this.hasView
        ? this.view.coordsAtPos(this.view.state.selection.from)
        : undefined
    }
  },

  methods: {
    /* methods.blurButton:
     * if a bubble button has been blurred
     * test if another has been clicked
     * (remembering that clicking will cause text to be reselected)
     */
    blurButton () {
      setTimeout(function () {
        if (document.activeElement.className !== 'pm-menu-bubble__button' &&
          !this.hasSelection) {
          this.lastStyle = 'display: none'
        }
      }.bind(this), 70)
    },
    persistStyle (style) {
      this.lastStyle = style
      return style
    },
    setStyle () {
      setTimeout(function () {
        if (this.hasView) { // if a view exists ...
          if (this.hasSelection) { // ... and said view has a selection
            this.style = this.persistStyle(
              `left: ${this.left - this.box.left}px; ` +
              `bottom: ${this.start.top - this.box.bottom + 65}px`)
          } else this.style = 'display: none'
        } else this.style = this.lastStyle
      }.bind(this), 150)
    }
  },

  watch: {
    hasView (val) {
      this.setStyle()
    },
    /* watch.active:
     * if the user has clicked a button in the menu
     * the text will be reselected
     * ergo, wait 150ms to see whether there's a selection
     */
    active () {
      setTimeout(
        function () {
          if (!this.hasSelection) {
            this.style = 'display: none'
          }
        }.bind(this), 150)
    }
  }
}
</script>

<style>
.pm-menu-bubble::before {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  bottom: -6px;
  border: 5px solid transparent;
  border-top-color: transparent;
  border-bottom-width: 5px;
  border-bottom-width: 0;
  border-top-color: silver;
}

.pm-menu-bubble {
  position: absolute;
  z-index: 9990;
  background: white;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 2px 10px;
  margin-bottom: 7px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.pm-menu-bubble button {
  padding: .25rem;
  border: none;
  background: none;
}

.pm-menu-bubble::after {
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  left: 50%;
  margin-left: -5px;
  bottom: -4.5px;
  border: 5px solid transparent;
  border-top-color: transparent;
  border-bottom-width: 5px;
  border-bottom-width: 0;
  border-top-color: white;
}
</style>
