<template>
  <div class="editor">
    editor with menu bubble:
    <div id="test"></div>
    <menu-bubble :active="active"
                 :box="box"
                 :view="view">
    </menu-bubble>
  </div>
</template>

<script>
import { createEditorState, createEditorView } from './proseMirror/editor-core.js'
import MenuBubble from './proseMirror/menu-bubble.vue'

export default {
  name: 'eb-editor',

  components: {
    MenuBubble
  },

  computed: {
    box () {
      if (this.doc && this.doc.offsetParent) {
        return this.doc.offsetParent.getBoundingClientRect()
      } else return {}
    }
  },

  data () {
    return {
      active: false,
      doc: undefined,
      state: undefined,
      view: undefined
    }
  },

  methods: {
    mountEvent (type, eventCallback) {
      this.doc
        .firstChild
        .addEventListener(type, eventCallback)
      return this
    },
    onBlur () { this.active = false },
    onFocus () { this.active = true }
  },

  mounted () {
    this.doc = document.querySelector('#test')
    this.doc.style.whiteSpace = 'pre-wrap'
    this.state = createEditorState(this)
    this.view = createEditorView(this, '#test')
    this.$nextTick(function () {
      this
        .mountEvent('blur', this.onBlur)
        .mountEvent('focus', this.onFocus)
    })
  }
}
</script>

<style>
.editor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: 1px solid #ccc;
}
</style>
