<template>
  <div class="hello">
    <h1>{{ msg }}</h1>
    <eb-editor />
  </div>
</template>

<script>
import ebEditor from './eb-editor.vue'

export default {
  name: 'HelloWorld',
  components: {
    ebEditor
  },
  data () {
    return {
      msg: 'Welcome to Your Vue.js App'
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
#test {
  border: 1px solid #ccc;
}
</style>
